<!DOCTYPE html>
<html lang="en" site="apple-podcasts-for-creators">
<head>

<meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
<link rel="icon" type="image/x-icon" href="/wshb/assets/static/podcasters/favicon-14f6eb63e2d53a64521a8724fbef6888f9221a1ecf3638ec26a204adb163f81d.ico">
<link href="https://podcasters.apple.com/support/823-podcast-requirements" rel="canonical">
<link href="https://podcasters.apple.com/support/823-podcast-requirements" hreflang="en" rel="alternate">
<link href="https://podcasters.apple.com/de-de/support/823-podcast-requirements" hreflang="de" rel="alternate">
<link href="https://podcasters.apple.com/fr-fr/support/823-podcast-requirements" hreflang="fr" rel="alternate">
<link href="https://podcasters.apple.com/ja-jp/support/823-podcast-requirements" hreflang="ja" rel="alternate">
<link href="https://podcasters.apple.com/ko-kr/support/823-podcast-requirements" hreflang="ko" rel="alternate">
<link href="https://podcasters.apple.com/zh-tw/support/823-podcast-requirements" hreflang="zh" rel="alternate">
<link href="https://podcasters.apple.com/es-es/support/823-podcast-requirements" hreflang="es" rel="alternate">
<link href="https://podcasters.apple.com/zh-cn/support/823-podcast-requirements" hreflang="zh" rel="alternate">
<link href="/choose-language" hreflang="x-default" rel="alternate">
<title>Podcast RSS feed requirements - Apple Podcasts for Creators</title>
<meta content="Review the requirements for a podcast RSS feed and see examples of correctly formatted XML tags." name="description">
<meta property="og:title" content="Podcast RSS feed requirements - Apple Podcasts for Creators">
<meta property="og:description" content="Review the requirements for a podcast RSS feed and see examples of correctly formatted XML tags.">
<meta property="og:image" content="https://podcasters.apple.com/wshb/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsiZGF0YSI6MTE1MDEsInB1ciI6ImJsb2JfaWQifX0=--8cd4437d577a812bc6fe418742d79b615a81bd89/SocialShare-APfC.jpg">
<meta property="og:type" content="article">
<meta property="og:locale" content="en_US">
<meta property="og:url" content="https://podcasters.apple.com/support/823-podcast-requirements">
<meta property="twitter:title" content="Podcast RSS feed requirements - Apple Podcasts for Creators">
<meta property="twitter:description" content="Review the requirements for a podcast RSS feed and see examples of correctly formatted XML tags.">
<meta property="twitter:image" content="https://podcasters.apple.com/wshb/rails/active_storage/blobs/redirect/eyJfcmFpbHMiOnsiZGF0YSI6MTE1MDEsInB1ciI6ImJsb2JfaWQifX0=--8cd4437d577a812bc6fe418742d79b615a81bd89/SocialShare-APfC.jpg">
<meta property="twitter:card" content="summary_large_image">
<meta content="width=device-width, initial-scale=1, user-scalable=no" name="viewport">
<link href="https://www.apple.com/wss/fonts?families=SF+Pro,v3|SF+Pro+Icons,v3" rel="stylesheet" type="text/css">

<link rel="stylesheet" href="/wshb/packs/assets/podcasters-fd1f4ad4.css">
<script nonce="412df4b0f0097abfefa04dcae8928581">
//<![CDATA[
window.analyticsProperties = {
  "pageName": "podcasters:Podcast RSS feed requirements:article",
  "pageContentType": "article",
  "pageContentSubType": "",
  "pageType": "",
  "pageError": "",
  "siteSection": "Podcast RSS feed requirements",
  "language": "en-us",
  "loginStatus": "",
  "articleName": "Podcast RSS feed requirements",
  "articleID": 823,
  "slug": "podcast-requirements",
  "nonce": "412df4b0f0097abfefa04dcae8928581"
};

//]]>
</script>
<script async="async" src="/metrics/v1/podcasters/4ce907bce6c6/82543ed44ba9/launch-45d677a52213.min.js" nonce="412df4b0f0097abfefa04dcae8928581">
//<![CDATA[

//]]>
</script>
<script src="/wshb/packs/assets/javascript/packs/common/analytics-a8b56f75.js" type="module" nonce="412df4b0f0097abfefa04dcae8928581"></script>
<meta content="width=device-width, initial-scale=1" name="viewport">
<link href="https://www.apple.com/wss/fonts?families=SF+Pro,v3|SF+Pro+Icons,v3" rel="stylesheet" type="text/css">
</head>
<body id="apple-podcasts-for-creators" lang="en-us">
<div class="site-header">
<input class="localnav-menustate" id="localnav-menustate" type="checkbox">
<nav class="localnav" data-sticky="" id="localnav" role="navigation">
<div class="localnav-wrapper">
<div class="localnav-background"></div>
<div class="localnav-content">
<div class="localnav-title">
<a class="nav-title-link truncate-text" tabindex="0" href="/"><span class="nav-title-link truncate-text small-hide medium-hide large-show">
Apple Podcasts for Creators
</span>
<span class="nav-title-link truncate-text small-hide large-hide medium-show">
Apple Podcasts for Creators
</span>
<span class="nav-title-link truncate-text large-hide medium-hide small-show">
Apple Podcasts for Creators
</span>

</a>
</div>
<div class="localnav-menu">
<a class="localnav-menucta-anchor localnav-menucta-anchor-open" href="#localnav-menustate" id="localnav-menustate-open" role="button">
<span class="localnav-menucta-anchor-label">Open Menu</span>
</a>
<a class="localnav-menucta-anchor localnav-menucta-anchor-close" href="#" id="localnav-menustate-close" role="button">
<span class="localnav-menucta-anchor-label">Close Menu</span>
</a>
<div class="localnav-menu-tray">
<ul class="localnav-menu-items">
<li class="localnav-menu-item">
<a class="localnav-menu-link" href="/create">Create</a>
</li>
<li class="localnav-menu-item">
<a class="localnav-menu-link" href="/manage">Manage</a>
</li>
<li class="localnav-menu-item">
<a class="localnav-menu-link" href="/design">Design</a>
</li>
<li class="localnav-menu-item">
<a class="localnav-menu-link" href="/market">Market</a>
</li>
<li class="localnav-menu-item">
<a class="localnav-menu-link" href="/measure">Measure</a>
</li>
<li class="localnav-menu-item">
<a class="localnav-menu-link" href="/community">Community</a>
</li>
<li class="localnav-menu-item">
<a class="localnav-menu-link" href="/support/">Support</a>
</li>
</ul>
</div>
<div class="localnav-actions">
<div aria-hidden="true" class="localnav-action localnav-action-menucta">
<label class="localnav-menucta" for="localnav-menustate">
<span class="localnav-menucta-chevron"></span>
</label>
</div>
<div class="localnav-action localnav-action-button">
<a class="localnav-button button button-reduced" data-metrics-click='{"clickType": "signin", "location": "navbar"}' target="blank" rel="noreferrer" href="https://podcastsconnect.apple.com"><span>Sign In</span>
</a>
</div>
</div>
</div>
</div>
</div>
</nav>
<label for="localnav-menustate" id="localnav-curtain"></label>
</div>
<main><div class="podcasters-header-offset"></div>
<div class="podcasters-static-width-l podcasters-content-width-s">
  <div class="row" data-margin-bottom="2/2/2">
    <div class="column large-8 small-12 large-centered border-fill-gray-tertiary-light" data-border-bottom="1/1/1" data-padding-bottom="2/2/2">
        <div class="t-tout swatch-glyph-gray-tertiary-light podcasters-align-left"> <span><span class="t-tout swatch-glyph-gray-tertiary-light">Content Requirements</span>
</span>
 </div>
        <h1 class="t-headline podcasters-align-left" data-margin-top="1/1/1"> Podcast RSS feed requirements </h1>
    </div>
  </div>
</div>
<div class="podcasters-static-width-l podcasters-content-width-s">
  <div class="row" data-margin-bottom="3/2/2">
    <div class="column large-8 small-12 large-centered">
<ul class="podcasters-component-frame share-icons swatch-icon-grey">
<share-social aria-label="Share via Facebook (opens in new window)" platform="facebook" url="https://www.facebook.com/sharer/sharer.php?u=https://podcasters.apple.com/support/823-podcast-requirements"></share-social>
<share-social aria-label="Share via X, formerly Twitter (opens in new window)" platform="twitter" url="https://twitter.com/intent/tweet?url=https://podcasters.apple.com/support/823-podcast-requirements"></share-social>
<share-social :open-inline="true" aria-label="Share via email (opens in new window)" platform="email" url="mailto:?subject=Podcast RSS feed requirements&amp;body=https://podcasters.apple.com/support/823-podcast-requirements"></share-social>
<share-link aria-label="Share via link" confirmation-text="Copied to clipboard" url="https://podcasters.apple.com/support/823-podcast-requirements"></share-link>
</ul>
</div>
  </div>
</div>
<div class="podcasters-static-width-l podcasters-content-width-s">
  <div class="row" data-margin-bottom="3/3/2">
		<div class="column large-8 small-12 large-centered">
			<div class="block-wysiwyg-content">
<p class="text-align-left">Apple requires podcasts meet technical requirements and <a class="wishbone-link" href="/support/891-content-and-subscription-guidelines">content guidelines</a> to provide a great experience for listeners and make it easier for them to find their new favorite podcasts.</p>
<p class="text-align-left">To submit a podcast you must have an <a class="wishbone-link" href="/support/827-create-an-account">Apple Podcasts Connect account</a>. If your podcast comes from an RSS feed, it must meet our technical requirements and include:</p>
<ul>
<li><a class="wishbone-link" href="https://help.apple.com/itc/podcasts_connect/#/itcb54353390" target="_blank" rel="nofollow">Required tags</a></li>
<li><a class="wishbone-link" href="/support/825-how-to-create-an-episode">At least one episode</a></li>
<li> <a class="wishbone-link" href="/support/artwork-requirements">Artwork</a>
</li>
</ul>
<h2 class="text-align-left">
<b>Podcast RSS feed technical requirements</b>
</h2>
<p class="text-align-left">Your hosting provider should be able to help you address technical requirements. If the feed does not comply with these requirements, it will result in <a href="https://itunespartner.apple.com/podcasts/articles/validate-your-podcast-3064"></a><a class="wishbone-link" href="/support/829-validate-your-podcast">feed validation errors</a>. RSS feeds can be self-generated and hosted, or can be issued via a <a class="wishbone-link" href="/partner-search">hosting provider</a>.</p>
<ul>
	<li>RSS feed URLs must adhere to <a href="https://cyber.harvard.edu/rss/rss.html" target="_blank" rel="nofollow">RSS 2.0</a> specifications, be publicly addressable (not password-protected), and include the following XML declaration:
	<pre class="language-haml"><code>&lt;?xml version="1.0" encoding="UTF-8"?&gt;&lt;rss version="2.0" xmlns:<wbr>itunes="http://<wbr>www.itunes.com/<wbr>dtds/<wbr>podcast-1.0.dtd"  xmlns:<wbr>content="http://<wbr>purl.org/<wbr>rss/<wbr>1.0/<wbr>modules/content/"&gt;</wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></wbr></code></pre>
</li>
	<li>Display your show artwork and allow streaming playback of your episodes by enabling your hosting server for HTTP HEAD requests and byte-range requests.</li>
<li>Each episode must have a unique <code class="inline-code"><a class="wishbone-link" href="https://help.apple.com/itc/podcasts_connect/#/itcb54353390" target="_blank" rel="nofollow">&lt;enclosure&gt;</a></code> tag, along with its three required components — URL, length, and type — which specify the location and host of the episode. Apple Podcasts will ignore duplicate <code class="inline-code">&lt;enclosure&gt;</code> URLs.</li>
	<li>All episodes must contain a <a class="wishbone-link" href="/support/837-change-the-rss-feed-url">globally unique identifier (GUID)</a>, which never changes.</li>
	<li>Use only ASCII filenames and URLs that include a-z, A-Z, or 0-9. For more information, see <a class="wishbone-link" href="https://en.wikipedia.org/wiki/Percent-encoding" target="_blank" rel="nofollow">encoding best practices</a>.</li>
	<li>Respect case-sensitivity across all XML tags in podcast RSS feeds.</li>
</ul>
<br>
<p class="text-align-left"><b>Incorrect casing:</b></p>
<p class="text-align-left"><code class="inline-code">&lt;itunes:category text="Kids &amp;amp; family" /&gt;</code></p>
<p class="text-align-left"><b>Correct casing:</b></p>
<p class="text-align-left"><code class="inline-code">&lt;itunes:category text="Kids &amp;amp; Family" /&gt;</code></p>
<ul>
<li>Date and time must conform to <a class="wishbone-link" href="http://www.faqs.org/rfcs/rfc2822.html" target="_blank" rel="nofollow">RFC 2822</a> specifications. The date must be “day of week, day month year” and the time must be in 24-hour format (without including a.m. or p.m.) with the time zone offset included. For example:</li>
</ul>
<p class="text-align-left"><b>Incorrect date format:</b></p>
<p class="text-align-left">  <code class="inline-code">&lt;pubDate&gt;7/6/2014 1:00:00 PM&lt;/pubDate&gt;</code></p>
<p class="text-align-left"><b>Correct date format: </b></p>
<p class="text-align-left">  <code class="inline-code">&lt;pubDate&gt;Wed, 6 Jul 2014 13:00:00 PDT&lt;/pubDate&gt;</code></p>
<p class="text-align-left">  <code class="inline-code">&lt;pubDate&gt;Wed, 6 Jul 2014 13:00:00 -0700&lt;/pubDate&gt;</code></p>
<ul>
<li>Use <code class="inline-code">&amp;apos;</code> (for single quote) or <code class="inline-code">&amp;quot;</code> (for double quote). Avoid using HTML naming conventions such as <code class="inline-code">&amp;rsquo;</code>, <code class="inline-code">&amp;lsquo;</code>, <code class="inline-code">&amp;ldquo;</code>, or <code class="inline-code">&amp;rdquo;</code>. For more information, see <a class="wishbone-link" href="https://www.xml.com/axml/target.html#sec-references" target="_blank" rel="nofollow">XML Character and Entity References</a>.</li>
</ul>
<p class="text-align-left"><b>Incorrect character format:</b></p>
<pre class="language-haml"><code>&lt;description&gt;Love to get outdoors and discover nature&amp;rsquo;s treasures? Hiking Treks is the show for you.&lt;/description&gt;</code></pre>
<br>
<pre class="language-haml"><code>&lt;title&gt;&amp;ldquo;Wilderness Area Garden of the Gods&amp;ldquo; in Illinois is a delightful spot for an extended hike.&lt;/title&gt;</code></pre>
<br>
<p class="text-align-left"><b>Correct character format:</b></p>
<pre class="language-haml"><code>&lt;description&gt;Love to get outdoors and discover nature&amp;apos;s treasures? Hiking Treks is the show for you.&lt;/description&gt;</code></pre>
<br>
<pre class="language-haml"><code>&lt;title&gt;&amp;quot;Wilderness Area Garden of the God &amp;quot; in Illinois is a delightful spot for an extended hike.&lt;/title&gt;</code></pre>
<ul>
<li>If using these symbols, use the appropriate programming:</li>
</ul>
<table class="">
<thead>
<tr>
<th><b>Character</b></th>
<th><b>Name</b></th>
<th><b>Corresponding Programming</b></th>
</tr>
</thead>
<tbody>
<tr>
<td>&amp;</td>
<td>ampersand</td>
<td>&amp;amp;</td>
</tr>
<tr>
<td>&lt;</td>
<td>less-than sign</td>
<td>&amp;lt;</td>
</tr>
<tr>
<td>&gt;</td>
<td>greater-than sign</td>
<td>&amp;gt;</td>
</tr>
<tr>
<td>’</td>
<td>apostrophe</td>
<td>&amp;apos;</td>
</tr>
<tr>
<td>“</td>
<td>quotation</td>
<td>&amp;quot;</td>
</tr>
<tr>
<td>©</td>
<td>copyright sign</td>
<td>&amp;#xA9;</td>
</tr>
<tr>
<td>℗</td>
<td>sound recording copyright</td>
<td>&amp;#x2117;</td>
</tr>
<tr>
<td>™</td>
<td>TM trademark sign</td>
<td>&amp;#x2122;</td>
</tr>
</tbody>
</table>
<br>
<br>
<h2 class="text-align-left">Examples:
</h2>
<p class="text-align-left"><b>Incorrect code: </b></p>
<p class="text-align-left">  <code class="inline-code">&lt;title&gt;Pets &amp; Animals&lt;/title&gt;</code></p>
<p class="text-align-left"><b>Correct code:</b></p>
<p class="text-align-left">  <code class="inline-code">&lt;title&gt;Pets &amp;amp; Animals&lt;/title&gt;</code></p>
<p class="text-align-left"><b>Incorrect code: </b></p>
<p class="text-align-left">  <code class="inline-code">&lt;copyright&gt;&amp;copy; 2020 John Doe&lt;/copyright&gt;</code></p>
<p class="text-align-left"><b>Correct code: </b></p>
<p class="text-align-left">  <code class="inline-code">&lt;copyright&gt;&amp;#xA9; 2020 John Doe&lt;/copyright&gt;</code></p>
<p class="text-align-left">Tip: Enter all other characters directly in an editor that supports UTF-8. </p>
</div>

    </div>
	</div>
</div>

<div class="podcasters-static-width-l podcasters-content-width-s" data-margin-bottom="4/4/2">
  <div class="row">
    <div class="large-8 small-12 large-centered border-fill-gray-tertiary-light">
      <section class="related-content-list"><h2 class="t-eyebrow-elevated" data-margin-top="3/3/3">Related Content</h2>
<div class="related-content-item" data-margin-top="3/3/3">
<div class="related-content-content">
<strong class="related-content-label">Content Requirements</strong>
<div class="related-content-header">Apple Podcasts content guidelines</div>
<div class="related-content-body">Before submitting your show or offering a podcast subscription, review the Apple Podcasts content guidelines.</div>
<div class="related-content-body">
<a class="stds-link-chevron-after" data-metrics-click="'{clickType: 'article_link' content-and-subscription-guidelines_related_content_list}'" href="/support/891-content-and-subscription-guidelines">Apple Podcasts content guidelines</a>
</div>
</div>
</div>
</section>

    </div>
  </div>
</div>


</main>
<div class="site-footer">
<footer aria-labelledby="footer-label" class="footer" id="footer" role="contentinfo">
<div class="footer-content">
<section class="footer-mini" data-padding-bottom="4/4/4" typeof="Organization" vocab="http://schema.org/">
<div class="footer-mini-shop t-intro" data-padding-bottom="1/1/1" data-padding-top="3/3/3">
<div class="logo-text" id="footer-label">Apple Podcasts for Creators</div>
</div>
<div class="footer-mini-locale">
<a class="footer-mini-locale-link" aria-label="Country Name. Choose your country or region" title="Choose your country or region" data-metrics-click='{"clickType": "choose_locale", "location": "footer"}' href="/choose-language">Choose Language</a>
</div>
<div class="footer-mini-legal">
<div class="footer-mini-legal-copyright">
Copyright
© 2026 Apple Inc.
All rights reserved.
</div>
<ul class="footer-mini-legal-links">
<li class="footer-mini-legal-links-item">
<a data-metrics-click='{"clickType": "contact_us", "location": "footer"}' tabindex="0" data-focus-method="key" class="footer-mini-legal-link" href="https://podcastsconnect.apple.com/contact-us">Contact Us</a>
</li>
<li class="footer-mini-legal-links-item">
<a data-metrics-click='{"clickType": "privacy_policy", "location": "footer"}' tabindex="0" data-focus-method="key" class="footer-mini-legal-link" href="https://www.apple.com/legal/privacy/">Privacy Policy</a>
</li>
<li class="footer-mini-legal-links-item">
<a data-metrics-click='{"clickType": "terms_of_use", "location": "footer"}' tabindex="0" data-focus-method="key" class="footer-mini-legal-link" href="https://www.apple.com/legal/internet-services/terms/site.html">Terms of Use</a>
</li>
<li class="footer-mini-legal-links-item">
<a data-metrics-click='{"clickType": "legal", "location": "footer"}' tabindex="0" data-focus-method="key" class="footer-mini-legal-link" href="https://www.apple.com/legal/">Legal</a>
</li>
<li class="footer-mini-legal-links-item">
<a data-metrics-click='{"clickType": "content_dispute", "location": "footer"}' tabindex="0" data-focus-method="key" class="footer-mini-legal-link" href="https://www.apple.com/legal/internet-services/itunes/itunesstorenotices/">Content Dispute</a>
</li>
</ul>
</div>
</section>
</div>
</footer>
</div>
<div class="inset-modals">
</div>













<template id="carousel-template">
<div>
<div class="carousel-container paddlenav paddlenav-solid paddlenav-elevated">
<ul :style="{ 'height': `${calculatedHeight}` }" class="carousel-images" v-on:touchend="handleSwipeEnd" v-on:touchstart="handleSwipeStart">
<li :style="imageElementStyle(image, i)" class="carousel-image" role="img" v-bind:aria-label="image.altText" v-for="image, i in images">
<li :class="{ 'disabled': currentIndex === 0}" class="paddlenav-arrow paddlenav-arrow-previous" v-on:click="userSetImageIndex(currentIndex - 1)">
<svg viewbox="0 0 56 56" xmlns="http://www.w3.org/2000/svg">
<path d="M31.5,40c-.5,0-1-.2-1.4-.6l-10-10c-.8-.8-.8-2,0-2.8l10-10c.8-.8,2-.8,2.8,0,.8,.8,.8,2,0,2.8l-8.6,8.6,8.6,8.6c.8,.8,.8,2,0,2.8-.4,.4-.9,.6-1.4,.6"></path>
</svg>
</li>
<li :class="{ 'disabled': currentIndex === images.length - 1}" class="paddlenav-arrow paddlenav-arrow-next" v-on:click="userSetImageIndex(currentIndex + 1)">
<svg viewbox="0 0 56 56" xmlns="http://www.w3.org/2000/svg">
<path d="M24.4997,39.9998c-.512,0-1.023-.195-1.414-.586-.781-.781-.781-2.047,0-2.828l8.586-8.586-8.586-8.586c-.781-.781-.781-2.047,0-2.828,.781-.781,2.047-.781,2.828,0l10,10c.781,.781,.781,2.047,0,2.828l-10,10c-.391,.391-.902,.586-1.414,.586"></path>
</svg>
</li>
</ul>
</div>
<p :class="{'hidden': changingImage}" class="carousel-caption">{{ currentCaption }}</p>
<div class="dotnav">
<ul class="dotnav-items">
<li class="dotnav-item" v-for="image, i in images">
<a :class='{"current": i === currentIndex}' class="dotnav-link" v-bind:aria-label="image.altText" v-on:click="userSetImageIndex(i)"></a>
</li>
</ul>
</div>
</div>
</template>





<template id="email-collection-modal-template">
<div class="email-collection-modal-content">
<div class="button button-super" v-on:click="openModal">{{ ctaButtonText }}</div>
<div class="email-modal-content" data-padding-h="1/1/0">
<h3 :class="modalHeaderFont" class="modal-header">{{ modalHeader }}</h3>
<div class="email-form-wrapper" data-margin-top="2/2/1">
<form novalidate v-on:submit="submitEmail" v-show="!submitted">
<div :class='{ "is-error": hasError }' class="form-textbox">
<input aria-labelledby="notifyLabel" class="form-textbox-input" type="email" v-model="inputtedEmail" v-on:keyup="hideErrors">
<span class="form-textbox-label">{{ modalInputLabel }}</span>
<button class="button button-suber" type="submit">{{ modalButtonText }}</button>
<div class="form-message-wrapper">
<div class="form-message">
<span class="visuallyhidden">errors:</span>
<span class="hidden error" id="emailValidationError">Please enter a valid email address.</span>
</div>
</div>
</div>
<p :class="modalLegalTextFont" class="modal-legal">{{ modalLegalText }}</p>
</form>
<p class="success-message" v-show="submitted">{{ successMessage }}</p>
</div>
</div>
</div>
</template>




























<script src="/wshb/packs/assets/javascript/packs/podcasters-12d9bcbc.js" type="module" nonce="412df4b0f0097abfefa04dcae8928581"></script>
<script nonce="412df4b0f0097abfefa04dcae8928581">
//<![CDATA[
_satellite?.pageBottom();
//]]>
</script>
</body>
</html>
